table#stand thead { display:block; margin:0px; cell-spacing:0px; left:0px;}
table#stand tbody { display:block; overflow:auto; height:450px; }
table#stand .col_product {width:220px;}
table#stand .col_features {width:140px;}
table#stand .col_price {width:50px;}
table#stand .col_quantity {width:50px;}
table#stand .col_actions {width:50px;}

table#orderDetails thead { display:block; margin:0px; cell-spacing:0px; left:0px;}
table#orderDetails tbody { display:block; overflow:auto; height:350px; }